.form {
  &__input {
    @include input-reset;
    padding: 13px 20px;

    box-shadow: 1px 1px 1px rgba(234, 234, 235, 0.75);
    border: 1px solid rgba(221, 221, 221, 0.15);
    background-color: #fff;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.8px;

    @at-root textarea#{&} {
      min-height: 50px;
      resize: vertical;
    }
  }
}
